<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>

    <appSettings>

    </appSettings>

    <connectionStrings>
        <add name="Entities" connectionString="Data Source=(local);Initial Catalog=WebApp;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>
